
body {
    margin: 0;
    font-family: "Montserrat", "Avenir";
   }
.grapesform {
    height: 230px;
    width: 280px;
    border: 2px solid rgb(88, 82, 82);
    border-radius: 7px;
    margin-left: 15px;
}
.input{
   width: 260px;
   margin-top: 5px;
   margin-left: 8px;
   margin-right: 10px;
}
.radio {
    margin-top: 5px;
    margin-left: 8px;
}
.button {
    margin-right: 8px;
    float: right;
}
.card {
    width: 18rem;
}