
.row {
    margin-top: 20px;
    width: 100%;
}

.row .col figure {
    font-style: italic;
    font-size: smaller;
    text-align: center;
    text-indent: 0;
    border: thin silver solid;
    padding: 0.5em;
}
